WCF Container Example/Connected Services/ContactServiceReference/ContactsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44374/Services/ContactsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Container_Example" />
  <xs:element name="GetContacts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Container_Example" minOccurs="0" name="GetContactsResult" nillable="true" type="q1:ArrayOfContactViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>